<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Index</title>
</head>
<body>
    <div class="container">
        <section>
            <form id="form" action="/salida" method="POST">
                <label>Num.Docente</label>
                <input type="number" id="num_docente" name="num_docente" style="width: 250px; text-align: center;" class="rounded-1 " required>
                <label >Nombre</label>
                <input type="text" id="nombre" name="nombre" style="width: 250px; text-align: center;" class="rounded-1 " required>
                <label >Domicilio</label>
                <input type="text" id="domicilio" name="domicilio" style="width: 250px; text-align: center;" class="rounded-1 " required>
                <label>Nivel</label>
                <select type="text" id="nivel" name="nivel">
                    <option value="0">Seleccione Nivel</option>
                    <option value="1">Licenciatura o Ingeniería</option>
                    <option value="2">Maestro en Ciencias</option>
                    <option value="3">Doctor</option>
                </select>
                <label >Pago Hora Base</label>
                <input type="number" id="pago_hora_base" name="pago_hora_base" style="width: 250px; text-align: center;" class="rounded-1 " required>
                <label >Horas Impartidas</label>
                <input type="number" id="horas_impartidas" name="horas_impartidas" style="width: 250px; text-align: center;" class="rounded-1 " required>
               
                <select type="text" id="num_hijos" name="num_hijos">
                    <option value="0">Seleccione el Numero de hijos</option>
                    <option value="1">0</option>
                    <option value="2">1 o 2</option>
                    <option value="3">3 a 5</option>
                    <option value="4">Más de 5</option>
                </select>

                <div>
                    <button type="submit">Calcular</button>
                    <button id="btnLimpiar" type="button">Limpiar</button>
                </div>
            </form>
            
        </section>
    </div>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) { 
            var nivel = document.getElementById('nivel').value;
            var hijos = document.getElementById('num_hijos').value;
            if (nivel === '0' || hijos === '0'){
                alert('Porfavor llene llene los campos de opción multiple');
                event.preventDefault();
            } 

        });
        
        function limpiar(){
            
            document.getElementById('num_docente').value = '';
            document.getElementById('nombre').value = '';
            document.getElementById('domicilio').value = '';
            document.getElementById('nivel').value = '0'; 
            document.getElementById('pago_hora_base').value = ''; 
            document.getElementById('horas_impartidas').value = ''; 
            document.getElementById('num_hijos').value = '0'; 
        }

        document.getElementById('btnLimpiar').addEventListener('click',limpiar);
    </script>
</body>
</html>