<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Salida</title>
</head>
<body>
    <div class="container">
        <section>
            <hr>
            <h1>Detalles del Pago</h1>
            <form  class="form_s" action="/salida" method="post">
                <div class="salida">
                    <div class="label">
                        <label>Pago por Horas Impartidas:</label>
                        <label>Pago por Bono</label>
                        <label>Impuestos</label>
                        <label>Total a Pagar</label>
                    </div>
                    <div class="label2">
                        <%
                            var pago_horas_impartidas = pago_base * horas_impartidas * nivel;
                            var pago_bono = pago_horas_impartidas * bono;
                            var impuestos = pago_horas_impartidas * .16;
                            var total_pagar = pago_horas_impartidas + pago_bono - impuestos;
    
                            pago_horas_impartidas = pago_horas_impartidas.toFixed(2);
                            pago_bono = pago_bono.toFixed(2);
                            impuestos = impuestos.toFixed(2);
                            total_pagar = total_pagar.toFixed(2);
    
                        %>
    
    
                        <label><%=pago_horas_impartidas%></label>
                        <label><%=pago_bono%></label>
                        <label><%=impuestos%></label>
                        <label><%=total_pagar%></label>
                    </div>
                </div>
                
                
            </form>
        </section>
        
    </div>
</body>
</html>