*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    
    flex-direction: column;
    align-items: center;

    width: 45vw;
    height: 90vh;

    border-radius: 1vw;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;

    margin-bottom: 2vh;
}

h1{
    text-align: center;
    margin-top: 1vh;
    font-size: 5vh;
    color: black;
    cursor: pointer;
    margin-bottom: 3vh;
}

h4{
    margin-top: 1vh;
    font-size: 3vw;
    color: black;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: inherit;
    background-color: #fff;

    height: inherit;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1vh 1vw;
    width: calc(100% - 5vw);
    height: 80vh;
    border: 1px solid gray;
    border-radius: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    width: 100%;

    font-size: 2vh;
}


select{
    
    width: 15vw;
}

option{
    padding: 5px;
    border-radius: 3px;
    border: 5vw black;
}

button{
    margin-top: 3vh;

    border-style: none;
    border: 1px solid #0661c4;
    background-color: #007BFF;
    width: 8vw;
    height: 6vh;
}

button:hover{
    background-color: #0661c4;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #DC7092;

    padding: 1vh 0;
    width: inherit;
}

.form_s{
    height: 22vh;
}

.salida{
    display: flex;
    justify-content: space-between;
    width: inherit;

}

.label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.label2{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 1vh;
}


